<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-generic-dp/cells-generic-dp.html">
<!--
`<cells-bfm-dm-iv-get-status-credential>` description.

Example:

```html
<cells-bfm-dm-iv-get-status-credential></cells-bfm-dm-iv-get-status-credential>
```

@demo demo/index.html
-->
<dom-module id="cells-bfm-dm-iv-get-status-credential">
  <template>

    <cells-generic-dp id="dpStatusCredential"
    host="[[endpoint]]"
    method="GET"
    headers="[[headers]]"
    body="[[body]]"
    on-request-success="_successResponse"
    on-request-error= "_handlerError"></cells-generic-dp>

  </template>
  <script src="cells-bfm-dm-iv-get-status-credential.js"></script>
</dom-module>
